:root {
    --prim-color : white;
    --seco-color : #f0f2f5;
    --text-dark : #101010;
    --text-light : #878d93;
    --border-light: #a4b0be;
}
/*
spacing high : 10px;
spacing low : 5px;
*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    background: var(--seco-color);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background: var(--seco-color);
}
#mother {
    width: 100%;
    padding: 50px 0;
}
.fb-post {
    width: 640px;
    display: flex;
    height: 300px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
    flex-direction: column;
    background: var(--prim-color);
}
.top-s {
    flex: 5;
    background: yellow;
}
/*write top section styles here*/
.like-s {
    height: 90px;
    background: blue;
}
/*write like section styles here*/
.like-section{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
}
.like-section .top-part{
    display: flex;
    flex-direction: row;
}
.like-section .top-part .id-name{
    padding-left: 10px;
}
.like-section .bottom-part{
    margin: 10px 0;
    display: flex;
    border-top: 1px solid var(--border-light);
    border-bottom: 1px solid var(--border-light);
}
.like-section .bottom-part * {
    padding: 5px 45px;
}
/*write comment section styles here*/