:root {
    --prim-color : white;
    --seco-color : #f0f2f5;
    --text-dark : #101010;
    --text-light : #878d93;
}
/*
spacing high : 10px;
spacing low : 5px;
*/

body {
    margin: 0;
    background: var(--seco-color);
}
#mother {
    width: 100%;
    padding: 50px 0;
}
.fb-post {
    width: 640px;
    display: flex;
    height: 300px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    flex-direction: column;
    background: var(--prim-color);
}
.top-s {
    flex: 5;
    background: yellow;
}

.top-info{
    display: flex;
    height: 45px;

}

.top-left-part{
    display: flex;
}

.profile-picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    left: 10px;
    top: 20px;

}
.profile-picture img{
    border-radius: 50%;
}
.profile-name{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 60px;
    color: var(--text-dark);
}
.post-time{
    display: flex;
    flex-direction: row;
    position: absolute;    
    top: 25px;
}
.icon{
    position: absolute;    
    top: 17px;
    left: 75px;
    color: var(--text-light);
}
.top-right-part{
    position: absolute;
    right: 10px;
    top: 15px;
    
}
.top-right-part button{
    border: none;
    background: none;

}

.top-right-part button:hover{
    cursor: pointer;
}

.top-post-section{
    position: absolute;
    left: 10px;
    font-size: 25px;
}



/*write top section styles here*/
.like-s {
    height: 90px;
    background: blue;
}
/*write like section styles here*/
.comment-s {
    height: 60px;
    background: green;
}
/*write comment section styles here*/
